*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    
}
.box{
  width: 150px;
  height: 150px;  
}
.box1{
    background-color: rgb(91, 50, 148);
    transform: translate(150px,100px) rotate(5deg);
}
.box2{
    background-color: rgb(21, 186, 186);
    transform:  translate(150px,100px) rotate(65deg);
    transition:.5s linear ease-in-out all;
}
.box2:hover{
    transform: rotate(45deg);
    background-color: black;
}