*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.container {
 height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
background-color: #454545;
    position: sticky;
    top: 0;

}
i{
    margin-right: 10px;
font-size: 20px;
color: rgb(213, 203, 203);
   
}
.para{
    display: flex;
    height: 8%;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
p{
    
    background-color: #fff;
    color: rgb(15, 15, 15);
}
.rnav{
    display: flex;
    list-style-type: none;
    width: 100%;
}
.logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

li a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(213, 203, 203);
}

li a:hover {
    transition: 0.5s ease-in-out all;
    color: rgb(199, 143, 143);
}

.img{
    background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_large_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
  
}
.some-text{

    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    width: 100%;
    padding: 20px;
    text-align: center;
}
.some-text>p{
    padding: 10px;
    background:none;
    color: white;
    font-size: 25px;
}
.some-text>a{
    padding: 10px;
    color: rgb(141, 154, 233);
    font-size: 25px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.img2{
    background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
   
}
.text{
    color: rgb(3, 3, 3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 10%;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.text>p{
    padding: 10px;
    background:none;
    color: rgb(3, 3, 3);
    font-size: 25px;
}
.img3,.img4,.img5{
    display: flex;
    width:100%;
    height: 100%;
  
   
}
.img4{
    margin-top: -20%;
}
.image1,.image2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 50%;
    text-align: center;
}

.image1{
    background-image: url(https://www.apple.com/v/home/ba/images/promos/ipad-pro/promo_ipadpro__ch217v9v7no2_medium.jpg);
}
.image2{
    background-image: url(https://www.apple.com/v/home/ba/images/promos/macbook-pro-14-and-16/promo_mbp__ek7p477bkp6q_medium.jpg);
    margin-left: 10px;
}
.image3{
    background-image: url(https://www.apple.com/v/home/ba/images/promos/apple-watch-pride/promo_pride23__cnpic94fthle_medium.jpg);
}
.image4{
    background-image: url(https://www.apple.com/in/home/promos/apple-watch-series-8/images/promo_apple_watch_series_8_spring__d9hfvufh7hyu_medium.jpg);
}
.image3,.image4{
    
    height: 70%;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.image3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1e1d1d;
}
.image4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: wheat;
}
.image5,.image6{
width: 50%;
height:70%;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
text-align: center;

}
.image5{
    background-image: url(https://www.apple.com/v/home/ba/images/promos/homepod/promo_homepod_announce__bhviq9vjnlf6_medium.jpg);

}
.image6{
    background-image: url(https://www.apple.com/v/imac-24/h/images/overview/color_front_green__eb8qbnemmre6_large.jpg);
}


.image5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}